:root {
    --paper: white;
    --ink-bold: black;
    --ink: #222;
    --ink-light: lightgray;

    --accent-light: lavender;
    --accent: rebeccapurple;
    --accent-hover: mediumpurple;
    --accent-active: darkorchid;

    --surface-light: seashell;
    --selection: papayaWhip;

    --border: Gainsboro;
}


@media (prefers-color-scheme:dark) {
    :root {
        --paper: #242424;

        --ink-bold: #fff;
        --ink: #ccc;
        --ink-light: #999;

        --accent-light: peachPuff;
        --accent: sandyBrown;
        --accent-hover: chocolate;
        --accent-active: sienna;

        --surface-light: #323232;
        --selection: darkSlateBlue;

        --border: rgba(255, 255, 255, 0.1);
    }
}


* {
    margin: 0;
    padding: 0;
    border: none;
    border-collapse: collapse;
}

::-moz-selection {
    color: var(--ink-bold);
    background: var(--selection);
}

::selection {
    color: var(--ink-bold);
    background: var(--selection);
}

body {
    font-size: 16px;
    font-family: system-ui, sans-serif;
}

select {
    text-align: left;
    width: 100%;
    height: 3rem;
    font: 400 1rem/2rem sans;
    padding: 0.5rem 1rem;
    cursor: pointer;

    color: var(--ink);
    background-color: var(--paper);
    box-shadow: inset 0 1px 0 var(--border);

    transition: border-left 0.2s ease;
    border-left: 0 solid var(--accent-light);
}

select:hover {
    border-left: 0.5rem solid var(--accent);
}

button {
    height: 3rem;
    text-align: left;
    width: fit-content;
    font: 400 1rem/2rem sans;
    padding: 0.5rem 1rem;
    cursor: pointer;

    color: var(--ink);
    background-color: var(--paper);
    box-shadow: inset 0 1px 0 var(--border);

    transition: border-left 0.2s ease;
    border-left: 0 solid var(--accent-light);
}

button:hover {
    border-left: 0.5rem solid var(--accent);
}

button {
    width: 100%;
    max-width: 8rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

nav {
    position: absolute;
    left: 0;
    bottom: 0;
    display: flex;
    width: 100vw;
    height: 3rem;
    overflow-x: hidden;
    overflow-y: hidden;
    box-shadow: inset 0 1px 0 var(--border);
}

main {
    position: absolute;
    inset: 0;
    display: grid;
    width: 100vw;
    height: calc(100vh - 3rem);
    overflow-x: hidden;
    overflow-y: hidden;
    grid-template-columns: 1fr 1fr;
}

#editor {
    position: relative;
    height: 50vh;
}