/* LIST ITEMS */
.cm-s-uxmap span.cm-variable-2 {
  color: var(--ink-light);
}

/* CODE BLOCKS */
.cm-s-uxmap span.cm-comment {
  color: var(--ink-light);
}

/* LINK URL */
.cm-s-uxmap span.cm-string {
  color: var(--accent-hover);
}

/* HEADER */
.cm-s-uxmap span.cm-header {
  color: var(--accent);
}

/* LINK LABELS and CHECKBOXES */
.cm-s-uxmap span.cm-link {
  color: var(--ink-bold);
  text-decoration: none;
}

.cm-s-uxmap {
  height: 100%;
  border-right: 1px dashed var(--border);
  padding: 0rem 1.5rem 0 0;
  line-height: 32px;
  font-size: 1rem;
  font-family: monospace;
}

.CodeMirror {
  background-color: var(--paper);
  color: var(--ink);
}

.CodeMirror-code {
  background-size: 100% 32px;
  background-position: 0 -32px;
  background-repeat: repeat-y;
  background-image: linear-gradient(to bottom,
      var(--paper),
      var(--paper) 31px,
      var(--border));
}

.CodeMirror-gutters {
  background-color: transparent;
  border: none;
}

.CodeMirror-linenumber {
  padding: 0 1rem 0 0;
  color: var(--border);
  font-size: 0.8rem;
  background-color: clear;
}

.CodeMirror div.CodeMirror-cursor {
  border-left: 2px solid var(--ink);
}

.CodeMirror-selected {
  background-color: var(--selection) !important;
}