#render {
    position: relative;
    inset: 0px;
    display: block;
    font-family: var(--font);
    font-size: 1rem;
    line-height: 2rem;
    padding: 2rem 4rem;
    color: var(--ink);
    background-color: var(--paper);
    overflow: auto;
}

#render>* {
    margin-bottom: 2rem;
}

#render>ul,
#render>blockquote>ul {
    list-style: default;
    margin-left: 2rem;
}

#render>ul li,
#render>blockquote>ul li {
    font-weight: 400;
    font-size: 1rem;
    line-height: 2rem;
}

a,
a:link,
a:visited {
    display: inline;
    position: relative;
    padding: 2px;
    color: var(--accent);
    text-decoration-color: var(--border);
    font-weight: 700;
}

a:hover {
    text-decoration-color: var(--accent);
}

a:active {
    color: var(--ink);
    text-decoration-color: var(--ink);
}


#render>h1,
#render>h2,
#render>h3,
#render>h4,
#render>h5,
#render>h6 {
    color: var(--accent);
    margin: 0 0 1rem 0;
    display: block;
    font-weight: 700;
    text-align: left;
}

#render>p>img {
    width: 100%;
    height: auto;
    border-radius: 1rem;
}

#render>blockquote {
    padding: 0;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    background: var(--surface-light);
    border: 1px solid var(--border);
    display: block;
}

table {
    display: block;
    border-radius: 0.5rem;
    border: 1px solid var(--border);
    width: 100%;
}

tr {
    display: table;
    table-layout: fixed;
    width: 100%;
    white-space: nowrap;
    border-bottom: 1px solid var(--border);
}

th,
td {
    padding: 0.5rem 1rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

tr>td:last-child,
tr>th:last-child {
    width: 30%;
    background-color: var(--surface-light);
}


tbody>tr:last-child {
    border-bottom: none;
}

th:first-of-type {
    border-top-left-radius: 10px;
}

th:last-of-type {
    border-top-right-radius: 10px;
}

tr:last-of-type td:first-of-type {
    border-bottom-left-radius: 10px;
}

tr:last-of-type td:last-of-type {
    border-bottom-right-radius: 10px;
}
